<mat-toolbar color="primary" class="header">
  <div class="header-title">
    Canal search
    <div class="header-sub">
      Indexed lines: {{ indexedLines.length }}<ng-container *ngIf="timeToIndex">, time to index: {{ timeToIndex }}s</ng-container>
    </div>
  </div>
</mat-toolbar>

<div class="content">
  <mat-hint *ngIf="fileState !== FileState.LOADED" class="hint">
    You'll be able to submit the form once all the data are indexed.
  </mat-hint>

  <form class="search" [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)">
    <mat-form-field class="search-field" appearance="outline">
      <mat-label>Title</mat-label>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Chinese Opium Den"
      >
    </mat-form-field>

    <mat-form-field class="search-field" appearance="outline">
      <mat-label>Year</mat-label>
      <input
        matInput
        type="number"
        formControlName="year"
        pattern="\d{4}"
        placeholder="1894"
      >
    </mat-form-field>

    <button
      mat-raised-button
      class="search-button"
      type="submit"
      [disabled]="fileState !== FileState.LOADED"
      color="primary"
    >
      Search
    </button>

    <button
      mat-button
      class="search-button"
      type="submit"
      color="accent"
      (click)="resetSearch()"
      [disabled]="fileState !== FileState.LOADED"
    >
      Reset
    </button>
  </form>

  <mat-error *ngIf="!webWorkerSupported">
    The WebWorkers are not supported on your browser.<br />
    And it's been supported for quite some time now, so it might be the time to <strong>update your browser</strong> or <strong>install a real one</strong>.
  </mat-error>

  <div class="result">
    <p *ngIf="fileState == FileState.NOT_FOUND">
      <mat-error>
        The data file was not found<br />
        For this app to work, you need to add the <strong>large-file.tsv</strong> file in the <strong>assets</strong> folder.
      </mat-error>
    </p>

    <h3>Results</h3>


    <table mat-table [dataSource]="filteredLines" class="mat-elevation-z8">
      <ng-container matColumnDef="originalTitle">
        <th mat-header-cell *matHeaderCellDef> Original title </th>
        <td mat-cell *matCellDef="let line"> {{ line[1] }} </td>
      </ng-container>

      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef> Start year </th>
        <td mat-cell *matCellDef="let line"> {{ line[2] }} </td>
      </ng-container>

      <ng-container matColumnDef="genre">
        <th mat-header-cell *matHeaderCellDef> Genre </th>
        <td mat-cell *matCellDef="let line">
           <mat-chip-list>
            <mat-chip *ngFor="let genre of line[3]">{{ genre }}</mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let line">
          <button mat-raised-button color="primary">Edit</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
  </div>
</div>
