.header {
  position: relative;
}

.header-title {
  line-height: 1em;
}

.header-sub {
  color: rgba(white, 0.5);
  font-size: 0.6em;
}

.hint {
  display: block;
  margin-bottom: 10px;
}

.content {
  padding: 20px;
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.search {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-field + .search-field,
.search-field + .search-button {
  margin-left: 15px;
}

.mat-table {
  width: 100%;
}

.mat-column-action {
  width: 65px;
  text-align: center;
}

.mat-column-year {
  width: 100px;
  text-align: center;
}

.search-field {
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }
}
