<mat-toolbar color="primary">
  <span>Canal search</span>
</mat-toolbar>

<div class="content">
  <form class="search" [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)">
    <mat-form-field class="search-field">
      <mat-label>Title</mat-label>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="eg. Chinese Opium Den"
      >
    </mat-form-field>

    <mat-form-field class="search-field">
      <mat-label>Year</mat-label>
      <input
        matInput
        formControlName="year"
        type="number"
        pattern="\d{4}"
        placeholder="eg. 1894"
      >
    </mat-form-field>

    <button
      mat-raised-button
      class="search-button"
      type="submit"
      color="primary"
    >
      Search
    </button>
  </form>

  <div class="result">
    <h3>Results</h3>

    File state: {{ fileState }}
    <p>
      No result for now. Search for a movie to see the results...
    </p>
  </div>
</div>
